.container{
    /* border: 1px solid yellowgreen; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
    padding: 20px;
}
.todo{
    border:1px solid grey;
    border-radius: 6px;
    padding: 8px;
}
.tasks{
    border: 1px solid blue;
    border-radius: 6px;
    margin: 4px;
}