.task{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
}
/* .name{
    display: flex;
    justify-content: space-around;
} */